<app-list-shop-header />

<ion-content class="ion-padding" fixed-slot-placement="before" (click)="closeSlidingItems()">
  @if (shopDate()) {
    <span class="shopdate">{{ shopDate() | date: "dd MMM YYYY" }}</span>
  }
  @if (mode() === "view") {
    <app-shared-fab
      size="small"
      color="primary"
      icon="exit"
      horizontal="start"
      (action)="returnArchive()"
    />
  } @else {
    <app-list-shop-fab-actions />
  }

  @if (mode() !== "view") {
    <app-shared-fab size="small" color="primary" (action)="openItemForm()" />
  }
  @if (emptyList()) {
    <app-list-shop-empty />
  } @else {
    <app-list-shop-list #itemShopList/>
  }
</ion-content>

<app-list-shop-footer />
