
<div class="w100" class="home-start">
  <input type="checkbox" #active [checked]="showMenu()" hidden/>
  <ion-button [color]="btnColor()" expand="block" shape="round" (click)="showMenu.set(true)" id="trigger-showmenu">
    @if (showMenu()) {
      <ion-icon slot="icon-only" name="grid"></ion-icon>
    }@else {
      Comenzar
    }
  </ion-button>
  <ion-popover #popover trigger="trigger-showmenu" (didDismiss)="showMenu.set(false)" side="top" alignment="end" class="el-mandado-home-popover" [dismissOnSelect]="true">
    <ng-template>
      <app-home-menu/>
    </ng-template>
  </ion-popover>
  
</div>

