@keyframes pulse {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

.shop-list-empty {
  ion-img {
    animation: pulse 2s infinite;
  }

  ion-img::part(image) {
    border-radius: 10px;
  }
}
