<ion-item class="history-item mandado-item ion-no-padding" button="true" (click)="viewDetail()">
  @let localStore = store.value();
  @let loading  = store.isLoading();

  <div class="header">
    <div class="store">
      <app-shared-store-img [loading]="loading" [storeImg]="localStore?.img" />
      <span>{{store.value()?.chain}}</span>
    </div>
    <div class="date">
      <span>{{list().shopDate | date: 'dd/MM/YY'}}</span>
    </div>
  </div>
  <div class="content">
    <div class="total content-item">
      <span class="title">Total</span>
      <span class="data">{{list().total | currency: 'MXN'}}</span>
    </div>
    <div class="items content-item">
      <span class="title">Artículos</span>
      <span class="data">{{list().items.length}}</span>
    </div>
  </div>

</ion-item>
