.card {
  .home-icon {
    --icon-width: 0.7em !important;
    --icon-height: 0.7em !important;
  }
}

.home-list {
  .list-icon {
    --icon-color: var(--ion-background-color);
  }
}

.menu {
  .menu-item {
    &__icon {
      --icon-cont-width: 6rem;
      --icon-cont-height: unset;
      --icon-shape: 0;
      aspect-ratio: 1;
      --icon-width: 100%;
      --icon-height: 100%;
      --icon-color: inherent;
    }
  }
}

ion-modal {

  --modal-height: 45%;
  --height: var(--modal-height);
  --width: 95%;
  --border-radius: 16px;
  backdrop-filter: blur(1px);

  &.modal-md {
    --modal-height: 65%;
  }

  &.modal-35 {
    --modal-height: 35%;
  }

  &.modal-sm {
    --modal-height: 30%;
  }
  
  &.modal-25 {
    --modal-height: 25%;
  }

  @media screen and (max-height:500px) {
    --height: calc(var(--modal-height) + 20%);
  }
}

ion-alert {
  &.input-select {
    button.alert-button {
      color: var(--ion-color-secondary);
    }
  }
}

.list-shop-item {
  .item-btns {
    .item-btn {
      --icon-shape: 0;
      &-minues {
        // --icon-shape: 0 0 10px 0;
        --icon-color: var(--ion-color-secondary);
        --ion-icon-color: var(--ion-color-secondary-contrast);
      }
    }
  }
}

ion-popover.el-mandado-home-popover{
  --offset-y: -1rem;
  --background: transparent;
  --box-shadow:none;

  backdrop-filter: grayscale(0.5);
  &::part(backdrop){
    background-color: unset;
  }

  &::part(content){
    width: fit-content;
  }
}