.list-shop-header {
  .list-info {
    ion-text {
      font-size: 0.65rem;
      max-width: 10rem;
      display: inline-block;
      text-transform: capitalize;
    }
  }

  ion-skeleton-text.ui.sk-text {
      width: 10rem;
  }
}
