<ion-content [fullscreen]="true" class="ion-padding home">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <app-title/>

  <div class="home__stadistics">
    <div class="home__last-shop divider">
      <app-last-shoping/>
    </div>
    <div class="home__last-month ion-padding-vertical divider">
      <app-home-list/>
    </div>
    <div class="home__start">
      <app-home-start/>
    </div>
  </div>

</ion-content>
