@let store = config()?.store;
<ion-header class="ion-no-border list-shop-header">
  <ion-toolbar color="primary">
    <app-shared-store-img [loading]="!store" [storeImg]="store?.img" slot="start"/>
    <div slot="start" class="list-info ion-padding-horizontal">
      <ion-title class="ion-no-padding">{{title()}}</ion-title>
      @if (store) {
        <ion-text>{{store | adress}}</ion-text>
      }@else {
        <ion-skeleton-text [animated]="true" class="ui sk-text"></ion-skeleton-text>
      }
    </div>

    <app-list-shop-timer slot="end"/>

  </ion-toolbar>
</ion-header>
