.home {
  --home-title-h: 2.5rem;
  // --home-last-shop-h: 50%;
  // --home-last-month-h:35%;
  // --home-start: 15%;

  &__title {
    letter-spacing: 5px;
    
    h1 {
      font-size: 2rem;
      font-weight: 700;
      margin: 0;
      line-height: var(--home-title-h);
    }
  }

  &__stadistics{
    width: 100%;
    height: calc(100% - var(--home-title-h));
    border: 1px solid black;
    display: flex;
    flex-direction: column;
  }

  &__last-shop{
    width: 100%;
    flex: 3;
    // height: var(--home-last-shop-h);
  }

  &__last-month{
    width: 100%;
    flex:2;
    // height: var(--home-last-month-h);
    // background: pink;
  }

  &__start{
    width: 100%;
    flex:1;
    // height: var(--home-start);
    // background: lavender;
  }
}

