.item-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  align-items: end;
  gap: 1rem;

  .form-name{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .form-price{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .form-quantity{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .form-check{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    min-width: fit-content;
    font-size: 0.85rem;

    &--checked{
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
  }

}