<ion-item class="mandado-item ion-no-padding product">
  @let localstore = store.value();
  @let loading  = store.isLoading();

  <div class="store-img" slot="start">
    <app-shared-store-img [loading]="loading" [storeImg]="localstore?.img" />
  </div>

  <div class="product-info">
    <span class="name">{{product().name}}</span>
    <span class="date">{{product().shopDate|date:"dd-MMM-YYYY"}}</span>
  </div>

  <div class="product-price" slot="end">
    <span class="price">{{product().price | currency: 'MXN'}}</span>
  </div>

</ion-item>