<ion-item-sliding class="list-shop-item-slide">
  <ion-item class="list-shop-item ion-no-padding mandado-item">

    <span class="item-name" [class.item-name--empty]="item().name === ''">
      {{ item().name || "Incierto" }}
    </span>

    <span class="separator-v"></span>

    <div class="item-price" slot="end" #itemPrice >
      <span class="flex-center">
        {{ item().price | currency: "MXN" }}
        <em class="item-total">
          <span>(x{{ item().quantity }})&ThickSpace;</span
          >{{ item().price * item().quantity | currency: "MXN" }}</em
        >
      </span>
    </div>

    @if (showIncrements()) {

      <div class="item-btns" slot="end">
        <app-icon name="add" cssClass="item-btn" (click)="modifyQuantity(1)" />
        <app-icon
          name="remove"
          cssClass="item-btn item-btn-minues"
          (click)="modifyQuantity(-1)"
        />
      </div>
    }
  </ion-item>

  <app-shared-list-options
    cssClass="item-delete"
    (delete)="deleteItem()"
    (edit)="editItem()"
  />
</ion-item-sliding>
