.list-shop-item {

  .item-name{
    width: 100%;
    padding: 0 5px;
    &--empty{
      opacity: 0.5;
    }
  }

  .item-price {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    border-radius: 10px;
    // width: var(--item-price-w);

    .item-total {
      color: var(--ion-text-color-step-200);
      font-size: 0.75rem;

      span {
        font-style: normal;
        font-size: 0.8em;
      }
    }
  }

  .item-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
  }

  app-icon {
    transition: all 0.2s ease-in-out;
    &:active {
      transform: scale(0.95);
    }
  }
}