.home-start {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  --btn-h: 3rem;

  ion-button {
    width: 100%;
    height: var(--btn-h);
    transition: width 0.3s ease-in-out;
    --ripple-color: transparent;
    
    &::part(native) {
      transition: inherit;
    }
  }

  input[type="checkbox"]:checked + ion-button {
    width: var(--btn-h);
  }
}
