<app-shared-dialog-header title="Al carrito" />
<ion-content>
  <form [formGroup]="itemForm" class="item-form">
    <ion-item class="form-name">
      <ion-input
        labelPlacement="stacked"
        label="Producto"
        placeholder="Producto 1lt"
        formControlName="name"
        autocapitalize="words"
      ></ion-input>
    </ion-item>

    <ion-item class="form-price">
      <ion-input
        labelPlacement="stacked"
        placeholder="$100.00"
        formControlName="price"
        [maskito]="maskito.options"
        [maskitoElement]="maskito.predicate"
        #priceInput
        inputmode="numeric"
      >
        <div slot="label">
          Precio <ion-text>{{ helperPrice() }}</ion-text>
        </div>
      </ion-input>
    </ion-item>

    <ion-item class="form-quantity">
      <ion-input
        labelPlacement="stacked"
        label="Cantidad"
        formControlName="quantity"
        type="number"
        inputmode="numeric"
        min="1"
        max="100"
        step="1"
      ></ion-input>
    </ion-item>

    @if(!editMode()){

      <ion-item class="form-check" lines="none">
        <ion-checkbox
          [(ngModel)]="divedPrice"
          [ngModelOptions]="{ standalone: true }"
          labelPlacement="end"
        >
          Dividir&nbsp;precio</ion-checkbox
        >
      </ion-item>
    }
  </form>
</ion-content>

@if(editMode()){
  <app-shared-dialog-footer
  actionTxt="Editar"
  (confirm)="edit()"
/>

}@else{
  <app-shared-dialog-footer
  actionTxt="Agregar"
  secondTxt="Siguiente"
  (confirm)="confirm()"
  (secondClick)="nexItem()"
/>

}
